/* html, body {
  height: 100%;
} */
body {
  margin: 0;
  background-color: whitesmoke;
}

.flex-container {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.folders {
  margin: 15px;
}

.files {
  margin: 15px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: top;
}

.icons {
  color: #5F6368;
  width: auto;
}

.buttons-folders {
  width: 250px;
  height: 50px;
}

.buttons-files {
  position: absolute;
  width: 250px;
  height: 250px;
  justify-content: bottom;
  text-align: bottom;
  margin:auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.ant-message {
  z-index : 1500;
}